{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Home content starts here -->

    <!-- Hero Image -->
    <div class="container-fluid hero-image-container">
        <!--Logo and text overlay-->
        <div class="opaque-overlay"></div>
        <div class="row hero-image-content">
            <div>
                <section class="jumbotron text-center text-nowrap">
                    <h1 class="page-headings">Mimir's Index</h1>
                    <h2>Deconstruct the Lore</h2>
                    <p>Explore the intricate web of characters, metaphors, and stanzas that define Norse mythology </p>
                </section>
            </div>
        </div>
    </div>

    <!-- Navigation Cards -->
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <a href="PLACEHOLDER_URL" class="nav-card">
                            <img class="card-icon" src="{% static 'images/the-edda-library-icon.png' %}" alt="Book Icon">
                            <h5 class="card-title">The Edda Library</h5>
                            <p class="card-text">Browse Poems and individual Stanzas</p>
                            <p>Open Library</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <a href="PLACEHOLDER_URL" class="nav-card">
                            <img class="card-icon" src="{% static 'images/the-entity-archive-icon.png' %}" alt="Norse God Icon">
                            <h5 class="card-title">The Entity Archive</h5>
                            <p class="card-text">Explore Gods, Giants & Entities</p>
                            <p>View Entities</p>
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <a href="PLACEHOLDER_URL" class="nav-card">
                            <img class = "card-icon" src="{% static 'images/the-forge-icon.png' %}" alt="Anvil and Hammer Icon">
                            <h5 class="card-title">The Forge</h5>
                            <p class="card-text">Submit New Entries into The Library or The Entity Archive</p>
                            <p>Start Forging</p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- From the Archive section -->
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h3 class="section-heading">Mimir's Whispers</h3>

                {% if random_lore %}
                    <h4>{{ random_lore.title }}</h4>
                    <p>{{ random_lore.excerpt }}</p>

                    <div>
                        <p>The following entities are mentioned:</p>

                        {% for entity in random_lore.entities.all %}
                            <a href="{% url 'PLACEHOLDER_URL' entity.id %}">{{ entity.name }}</a>
                        {% empty %}
                            <p>The mists are empty; no entities found</p>
                        {% endfor %}
                    </div>

                    <div>
                        <a class="btn open-scroll-btn" href="{% url 'PLACEHOLDER_URL' random_lore.id %}" role="button">Open the Scroll!</a>
                    </div>

                {% else %}
                    <p>The library is currently empty. Seek the runes later</p>
                {% endif %}
            </div>
        </div>
    </div>

<!-- Home content ends here -->
{% endblock content %}