{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- Entity Archive content starts here -->
    <div class="container-fluid entity-archive-image">
        <!--Text overlay-->
        <div class="archive-opaque-overlay"></div>
        <div class="row archive-image-content">
            <div class="col-12 d-flex flex-column py-3 py-md-4 mt-lg-3 mb-lg-5 justify-content-between">
                <h1>The Entity Archive</h1>
                <h2 class="px-4">A directory of every entity woven into the Eddas</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid entity-archive-content">
        <!-- Search bar -->
        <div class="search-container row text-center justify-content-center mt-4">
            <div class="col-md-8">
                <form method="get" action=".">
                    <input type="text" name="q" placeholder="Search for a God, Jötunn, Beast etc..." value="{{ search_term }}" size="28">
                    <button type="submit"><i class="fa-solid fa-magnifying-glass"></i></button>
                    {% if search_term %}
                        <a href="{% url 'archive' %}">Clear Search</a>
                    {% endif %}
                </form>
            </div>
        </div>

        <!-- Entity Archive cards -->
        <div class="row">
            {% for entity in entity_list %}
            <div class="col-md-6 py-4 px-4 px-md-3 px-lg-4">
                <div class="card archive-card h-100 mx-md-4">
                    <div class="card-body text-center d-flex flex-column justify-content-center">
                        <a href="{% url 'entity_profile' entity.name %}" class="px-md-2">
                            {% if "placeholder" in entity.featured_image.url %}
                            <img class="card-icon card-img-fixed rounded mx-auto" src="{% static 'images/entity-default.png' %}" alt="placeholder icon">
                            {% else %}
                            <img class="card-icon card-img-fixed rounded mx-auto" src="{{ entity.featured_image.url }}" alt="{{ entity.name }} icon">
                            {% endif %}
                            <h3 class="card-title my-3">{{ entity.name }}</h3>
                            <p class="card-text">Epithets: {{ entity.epithets|join:", "|default:"None"}}</p>
                            <p class="card-text">Lore Entries: {{ entity.lore_count }}</p>
                        </a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}&sort={{ current_sort }}" class="page-link">&laquo; PREVIOUS</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}&sort={{ current_sort }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

<!-- Entity Archive content ends here -->

{% endblock content %}