{% extends 'base.html' %}

{% load static %}

{% block content %}

<!-- Library content starts here -->
    <div class="container-fluid edda-library-image">
        <!--Text overlay-->
        <div class="library-opaque-overlay"></div>
        <div class="row library-image-content">
            <div class="col-12 d-flex flex-column py-3 py-md-4 mt-lg-3 mb-lg-5 justify-content-between">
                <h1>The Edda Library</h1>
                <h2 class="px-4">A comprehensive archive of the primary text</h2>
            </div>
        </div>
    </div>

    <div class="container-fluid edda-library-content">
        <div class="row text-center justify-content-center mt-3 mt-md-2">
            <div class="col-md-10">
                <h3 class="mt-auto mb-4 p-md-4">Explore the intricate web of characters, metaphors, and stanzas that define Norse mythology</h3>
            </div>
        </div>

        <!-- Sort function -->
        <div class="row sorting-wrapper mb-3">
            <div class="col-md-8 justify-content-start">
                <form method="get" action="." id="sort-form">
                    <label for="sort">Sort Lore</label>
                    <select name="sort" id="sort-select" onchange="this.form.submit()">
                        <option value="newest" {% if current_sort == "newest" %}selected{% endif %}>Newest Entries</option>
                        <option value="az" {% if current_sort == "az" %}selected{% endif %}>Title: A-Z</option>
                        <option value="za" {% if current_sort == "za" %}selected{% endif %}>Title: Z-A</option>
                        <option value="oldest" {% if current_sort == "oldest" %}selected{% endif %}>Oldest Entries</option>
                    </select>
                </form>
            </div>
        </div>

        <!-- Edda Library entries cards -->
        <div class="row">
            {% for lore in lore_list %}
            <div class="col-md-6 py-4 px-4 px-md-3 px-lg-4">
                <div class="card library-card h-100">
                    <div class="card-body text-center d-flex flex-column justify-content-center">
                        <a href="{% url 'lore_detail' lore.slug %}" class="px-md-2">
                            {% if "placeholder" in lore.featured_image.url %}
                            <img class="card-icon card-img-fixed rounded mx-auto" src="{% static 'images/lore-default.png' %}" alt="placeholder icon">
                            {% else %}
                            <img class="card-icon card-img-fixed rounded mx-auto" src="{{ lore.featured_image.url }}" alt="{{ lore.title }} icon">
                            {% endif %}
                            <h4 class="card-title my-3">{{ lore.title }}</h4>
                            <p class="card-text card-entities">Entities: {{ lore.entities.all|join:", "|default:"None associtated...yet" }}</p>
                            <p class="card-text card-excerpt px-lg-3">{{ lore.excerpt }}</p>
                            <h5>Read Full Entry</h5>
                        </a>
                    </div>
                </div>
            </div>
            {% if forloop.counter|divisibleby:4 %}
        </div>
        <div class="row">
            {% endif %}
            {% endfor %}
        </div>
        {% if is_paginated %}
        <nav aria-label="Page navigation">
            <ul class="pagination justify-content-center">
                {% if page_obj.has_previous %}
                <li><a href="?page={{ page_obj.previous_page_number }}" class="page-link">&laquo; PREVIOUS</a></li>
                {% endif %}
                {% if page_obj.has_next %}
                <li><a href="?page={{ page_obj.next_page_number }}" class="page-link"> NEXT &raquo;</a></li>
                {% endif %}
            </ul>
        </nav>
        {% endif %}
    </div>

<!-- Library content ends here -->

{% endblock content %}