{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<!-- Forge content starts here -->

    <!-- The Forge Hero Image -->
        <div class="container-fluid hero-image-container">
            <!--Text overlay-->
            <div class="opaque-overlay"></div>
            <div class="row hero-image-content">
                <div>
                    <section class="jumbotron text-center text-nowrap">
                        <h1 class="page-headings">The Forge</h1>
                        <p>Wield the tools of the Skald to carve a new Entity into the Ledger or scribe a Verse into the eternal Vault.</p>
                    </section>
                </div>
            </div>
        </div>

    <!-- Buttons for page specific navigation -->
    <div class="container">
        <div class="row">
            <div class="col-6">
                <a href="#lore-entry-section" class="btn">Forge a Lore Entry</a>                
            </div>
            <div class="col-6">
                <a href="#entity-entry-section" class="btn">Forge An Entity</a>                
            </div>
        </div>
    </div>

    <!-- Section for forging a Lore Entry -->
    <div class="container" id="lore-entry-section">
        <div class="row">
            <div class="col-12">
                <h2>Forge a Lore Entry</h2>
                <p>Carve a new piece of lore into the eternal Vault.</p>
            </div>
        </div>

        <div class="row {% if not user.is_authenticated %}guest-view{% endif %}">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    {{ lore_form | crispy }}

                    {% if user.is_authenticated %}
                        <button type="submit" name="submit_lore" class="btn forge-btn">Strike the Anvil <svg class="hammer-anvil-icon"><use xlink:href="{% static 'images/hammer-anvil-icon.svg' %}#anvil-icon"></use></svg></button> <!-- Credit to Flaticon for the anvil icon and Icomoon for generating the SVG Sprite then https://www.sitepoint.com/use-svg-image-sprites/ for implementation -->
                    {% else %}
                        <div class="alert alert-info">
                            <p class="mb-0">Only those sworn to the Allfather may forge lore</p>
                            <a href="{% url 'account_login'}">Sign in to contribute</a>
                        </div>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>

    <!-- Section for forging an Entity -->
    <div class="container" id="entity-entry-section">
        <div class="row">
            <div class="col-12">
                <h2>Forge an Entity</h2>
                <p>Wield the tools of the Skald to carve a new Entity into the Ledger.</p>
            </div>
        </div>

        <div class="row {% if not user.is_authenticated %}guest-view{% endif %}">
            <div class="col-12">
                <form method="post">
                    {% csrf_token %}
                    {{ entity_form | crispy }}

                    {% if user.is_authenticated %}
                        <button type="submit" name="submit_entity" class="btn forge-btn">Strike the Anvil <svg class="hammer-anvil-icon"><use xlink:href="{% static 'images/hammer-anvil-icon.svg' %}#anvil-icon"></use></svg></button> 
                    {% else %}
                        <div class="alert alert-info">
                            <p class="mb-0">Only those sworn to the Allfather may forge lore</p>
                            <a href="{% url 'account_login'}">Sign in to contribute</a>
                        </div>
                    {% endif %}
                    </form>
            </div>
        </div>
    </div>

<!-- Forge content ends here -->
{% endblock content %}